a {
  position: relative;
}

body {
  background-color: hsl(30, 38%, 92%);
  font-size: 14px;
  margin: 0;
}

h1 {
  font-family: 'Fraunces', serif;
  font-size: 2rem;
  font-weight: bolder;
  line-height: 1;
  width: 200px;
  margin-bottom: 29px;
}

h4 {
  color: #1c232b;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  margin: 37px auto 15px auto;
  letter-spacing: 4px;
}

p {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.7;
}

.bigger {
  color: #3c8067;
  font-family: 'Fraunces', serif;
  font-size: 2rem;
  position: absolute;
  bottom: 61px;
}

.btn {
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #ffffff;
  font-size: 14px;
  background: #3c8067;
  padding: 14px 72px 14px 91px;
  position: absolute;
  bottom: 24px;
  right: 43px;
  text-decoration: none;
}

.btn:hover {
  text-decoration: none;
}

.cart {
  position: absolute;
  left: 64px;
  bottom: 15px;
}

.smaller {
  color: #6c7989;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.875rem;
  font-weight: 600;
  position: absolute;
  bottom: 113px;
  right: 90px;
  text-decoration: line-through;
}

.attribution {
  font-size: 16px;
  margin: 0 auto 100px auto;
  text-align: center;
  width: 30%;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.image {
  border-radius: 10px 0 0 10px;
  width: 309px;
  height: 475px;
}

.set {
  background-color: white;
  border-radius: 10px;
  position: relative;
  margin: 200px auto 50px auto;
  width: 620px;
  height: 475px;
}

.subset {
  position: absolute;
  left: 0;
}

.subset2 {
  position: absolute;
  left: 340px;
  width: 290px;
  height: 465px;
}

.font-change {
  color: #6c7989;
  font-size: 0.875rem;
  font-weight: 600;
  width: 220px;
  margin-bottom: 20px;
}
